html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  border: black solid 1px;
  font-family: 'Kaushan Script', cursive;
  box-shadow: 1px 50px 100px 10px rgb(0 0 0 / 50%);
}

li {
  list-style-type: none;
  margin: 5px;
  align-items: center;
}

/* header ================== */

.container .header {
  width: 100%;
  height: 150px;
  background: linear-gradient(45deg, #8d8d94, #9999c9, #3c3c8d);
  position: relative;
}

.flip {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 40px;
  left: 50px;
}

.flip__body {
	position: relative;
	width: 220px;
  height: 220px;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
}

.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flip__front {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: #77608d;

	backface-visibility: hidden;
}
.flip__back {
	transform: rotateY(-180deg);
	background-color: rgba(121, 79, 69, 0.5);
}

.flip:hover .flip__body {
	transform: rotateY(-180deg);
}

.my_photo {
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 3px 3px 10px gray;
  cursor: pointer;
  user-select: none;
}

.my_name {
  width: 50%;
  min-width: 320px;
  height: 100px;
  padding-top: 5px;
  border-radius: 50px;
  border: 5px solid white;
  position: absolute;
  background-color: #c7c7cc;
  top: 100px;
  right: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(100%);
}

.my_name h3 {
  margin-top: 0;
}

.header .my_name:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* burger ================= */

.burger {
  display: none;
  width: 250px;
  height: 50px;
  margin-left: auto;
  padding: 5px;
  text-align: center;
  position: relative;
}

#menu {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 0;
  left: -60px;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}

.line {
  position: absolute;
  top: 8px;
  right: 120px;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
}

.second,
.third {
  top: 18px;
}

.fourth {
  top: 28px;
}

.burger__nav {
  display: block;
  position: absolute;
  width: 130px;
  bottom: 53px;
  right: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.burger__item {
  display: block;
}

#menu:checked ~ .burger__nav {
  max-height: 600px;
  font-size: 1rem;
}

#menu:checked ~ .first {
  display: none;
}

#menu:checked ~ .second {
  transform: rotate(45deg);
}

#menu:checked ~ .third {
  transform: rotate(-45deg);
}

#menu:checked ~ .fourth {
  display: none;
}

/* nav================ */

.nav {
  display: block;
  height: 100%;
}

.nav__list {
  height: 100%;
  padding: 20px 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.nav__item {
  padding-left: 15px;
}

.nav__link {
  text-decoration: none;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;

  transition: color 0.3s linear;
  cursor: pointer;
}

.nav__link:hover {
  color: #dad6d0;
  font-size: 1.1rem;
}

/* article========================== */

.main {
  display: flex;
  flex-wrap: wrap;
}

.icon__h {
  position: absolute;
}

.underline {
  cursor: pointer;
}

.underline::after {
  display: block;
  content: "";
  height: 3px;
  width: 60%;
  margin: 5px auto;
  background: #8d8d94;
}

.underline:hover::after {
  width: 100%;
  transition-duration: 0.7s;
}
/* section__left===================== */

.section__left {
  width: 320px;
  background-color: #c7c7cc;
  text-align: center;
}

h2 {
  text-align: center;
}

/* contact=========================== */

.section__left .contacts {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.contact__item,
.contact__icon {
  padding: 0 20px;
}

.contact__item li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cont__icon {
  padding: 0 10px;
}

.contact__icon {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 80%;
  margin: 20px auto;
  border: 5px solid white;
  border-radius: 30px;
  box-shadow: 3px 3px 10px gray;
  background: linear-gradient(45deg, #8d8d94, #9999c9);
}

.contact__icon li {
  flex-direction: column;
  padding: 2.5px 0;
}

.social__icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.social__item:hover .social__icon {
  fill: #dad6d0;
}

/* skills========================== */

.skills ul {
  padding: 0 25px;
  text-align: left;
}

.marker > li:before {
  content: "✦";
  padding-right: 5px;
}

.skills p {
  display: inline-block;
}

.skills span {
  display: block;
  text-align: right;
  height: 10px;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #8d8d94;
  position: relative;
}

.skills span::before {
  position: absolute;
  content: "";
  height: 80%;
  border-radius: 5px;
  background: linear-gradient(45deg, #8d8d94, #9999c9, #3c3c8d);
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.skills .HTML5::before {
  width: 90%;
}

.skills .CSS3::before {
  width: 80%;
}

.skills .JS::before {
  width: 80%;
}

.skills .GIT::before {
  width: 60%;
}

.skills .TypeScript::before {
  width: 70%;
}
/* .skills .React::before {
  width: 10%;
} */
.skills .Angular::before {
  width: 50%;
}

/* video================================ */

.video {
  width: 90%;
  border-width: 5px;
}

/* section__reigth============================ */

.section__right {
  width: calc(100% - 320px);
  margin-top: 45px;
  padding: 30px 30px 10px 30px;
  font-size: 1.2rem;
}

.right__item {
  margin-bottom: 15px;
}

.experience h3 {
  margin: 0;
  text-align: left;
}

h4 {
  padding-left: 10px;
  border-radius: 15px;
  background: linear-gradient(90deg, #c7c7cc, #9999c9, #3c3c8d);
}

.code__JS {
  overflow: auto;
  font-size: 0.9rem;
}

.javascript {
  border-radius: 20px;
}

/* Works
===================*/

.works-link {
  color: #3c416b;
  text-shadow: 5px 0px 5px #3c416b;
  transition: linear all 0.4s;
}

.works-link:hover {
  transform: scale(1.1);
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;  
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 1000;
}

.overlay:target {
  opacity: 1;
  visibility: visible;
}

.overlay:target .works {
  opacity: 1;
  transform: translate(0px, 0px);
}

.close-anchor {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 0;
  left: 0;
}

.overclose {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.works {
  display: flex;
  flex-wrap: wrap;

  width: 90%;
  max-width: 1200px;
  height: 90%;

  position: relative;
  margin: 0 auto;
  padding: 60px;
  background-color: #ffffff;
  opacity: 0;
  transform: translate(-100%, 0px);
  transition: 0.5s;
  overflow: auto;

  border: black solid 1px;
  box-shadow: 1px 50px 100px 10px rgb(0 0 0 / 50%);
}

.works::-webkit-scrollbar {
  width: 3px;
  background-color: #f9f9fd;
}

.works::-webkit-scrollbar-thumb {
  background-color: #2820b3;
}

.works_header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  color: #3c416b;
  text-shadow: 5px 0px 5px #3c416b;
}

.museum {
  background-image: url(../img/works/museum.png);
}

.momentum {
  background-image: url(../img/works/momentum.png);
}

.art-quiz {
  background-image: url(../img/works/art-quiz.png);
}

.christmas {
  background-image: url(../img/works/christmas.png);
}

.async-race {
  background-image: url(../img/works/async-race.png);
}

.rs-lang {
  background-image: url(../img/works/rs-lang.png);
}

.project-management {
  background-image: url(../img/works/project-management.png);
}

.works__item {
  width: 50%;
  height: auto;
  padding-top: 28.125%;

  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;

  position: relative;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: contain;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__content {
  display: flex;
  padding: 15px 5px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgba(82, 82, 155, 0.8);
  opacity: 0;

  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity .2s linear;
}

.works__title {
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: linear all 0.3s;
}

.works__title:hover {
  transform: scale(1.2);
}

.works__text {
  padding: 5px 5px;
  font-size: 16px;
  color: #fff;
  /* text-align: left; */
  overflow: auto;
}

.works__text::-webkit-scrollbar {
  /* width: 3px;
  background-color: #f9f9fd; */
  width: 0;
}

/* .works__text::-webkit-scrollbar-thumb {
  background-color: #2820b3;
} */

/* footer================================= */

.footer {
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  background: linear-gradient(45deg, #8d8d94, #9999c9, #3c3c8d);
  align-items: center;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.img_logo {
  padding: 10px;
  height: 60px;
}

.data {
  font-size: 2.5rem;
}

.data__2 {
  display: none;
  font-size: 2.5rem;
}

/* adaptive===================================== */

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }

  .my_name {
    width: 320px;
    position: absolute;
    top: 275px;
    left: 0;
    text-align: center;
    background: linear-gradient(45deg, #8d8d94, #9999c9);
    filter: none;
  }

  .nav__list {
    padding-top: 3px;
    display: block;
    text-align: right;
  }

  .nav__link {
    margin: 0;
    line-height: 5px;
    letter-spacing: 2px;
  }

  .icon__h {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section__left .contacts {
    margin-top: 230px;
  }

  .section__right .underline {
    margin-top: 0;
  }

  .works__item {
    width: 100%;
    padding-top: 56.25%;
  }

}

@media screen and (max-width: 600px) {

  .flip {
    left: calc((100%-220px) / 2 - 110px);
  }

  .my_name {
    width: 100%;
    min-width: 320px;
  }

  .burger {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav__list {
    padding: 5px 0 0 0;
    display: block;
    text-align: right;
  }

  .nav__link {
    margin: 0;
    line-height: 5px;
    letter-spacing: 2px;
  }

  .section__left {
    width: 100%;
  }

  .section__right {
    width: 100%;
  }

  .works {
    padding: 60px 20px;
  }

  .data {
    display: none;
  }

  .data__2 {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 95%;
  }

  .my_name {
    width: 100%;
    min-width: 280px;
    font-size: 0.85rem;
  }

  .header .my_name:hover {
    transform: scale(0.9);
  }
}
