body {
    margin: 0;
    background:rgb(201, 195, 121);
};

*{
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 600px;
    background-color: rgb(238, 231, 222);
    margin: 0 auto;
    padding: 0 15px;
}

.header_img {
    margin-left: 50px;
}

.my_img {
    width: 50%;
    border-radius: 100px;
}

.my_name {
    width: 100%;
    margin-right: 50px;
}

.name {
    font-family: 'Satisfy', cursive;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;

    border-bottom: 5px solid #afafb3;
}


