* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.main {
  width: 80%;
  max-width: 1080px;
  margin: 20px auto;
  border: black solid 1px;
  font-family: "Satisfy", cursive;
  box-shadow: 1px 50px 100px 10px rgb(0 0 0 / 50%);
}

.main .header {
  width: 100%;
  height: 150px;
  background: linear-gradient(45deg, #8d8d94, #9999c9, #3c3c8d);
  position: relative;
}

.burger {
  display: none;
  width: 250px;
  height: 50px;
  margin-left: auto;
  padding: 5px;
  text-align: center;
  position: relative;
}

#menu {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 0;
  left: -60px;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}

.line {
  position: absolute;
  top: 8px;
  right: 120px;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
}

.second,
.third {
  top: 18px;
}

.fourth {
  top: 28px;
}

.nav {
  display: block;
  height: 100%;
}

.burger__nav {
  display: block;
  position: absolute;
  width: 130px;
  bottom: 53px;
  right: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.burger__item {
  display: block;
}

#menu:checked ~ .burger__nav {
  max-height: 600px;
  font-size: 1rem;
}

#menu:checked ~ .first {
  display: none;
}

#menu:checked ~ .second {
  transform: rotate(45deg);
}

#menu:checked ~ .third {
  transform: rotate(-45deg);
}

#menu:checked ~ .fourth {
  display: none;
}

.nav__list {
  height: 100%;
  padding: 20px 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.nav__item {
  padding-left: 15px;
}

.nav__link {
  text-decoration: none;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;

  transition: color 0.3s linear;
  cursor: pointer;
}

.nav__link:hover {
  color: #9d8665;
  font-size: 1.1rem;
}

.header .my_img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 40px;
  left: 50px;
  box-shadow: 3px 3px 10px gray;
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  filter: grayscale(100%);
}

.my_name {
  width: 50%;
  min-width: 320px;
  height: 100px;
  padding-top: 5px;
  border-radius: 50px;
  border: 5px solid white;
  position: absolute;
  background-color: #c7c7cc;
  top: 100px;
  right: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(100%);
}

.my_name h3 {
  margin-top: 0;
}

.header .my_img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.header .my_name:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.article {
  display: flex;
  flex-wrap: wrap;
}

.section__left {
  width: 320px;
  background-color: #c7c7cc;
  text-align: center;
}

.section__right {
  width: calc(100% - 320px);
  padding: 30px;
  font-size: 1.2rem;
}

.section__left .contacts {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.contact__item,
.contact__icon {
  padding: 0 20px;
}

.contact__item li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cont__icon {
  padding: 0 10px;
}

.contact__icon {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 80%;
  margin: 20px auto;
  border: 5px solid white;
  border-radius: 30px;
  box-shadow: 3px 3px 10px gray;
  background: linear-gradient(45deg, #8d8d94, #9999c9);
}

.contact__icon li {
  flex-direction: column;
  padding: 2.5px 0;
}

.social__icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.social__item:hover .social__icon {
  fill: #dad6d0;
}

.underline {
  cursor: pointer;
}

.underline::after {
  display: block;
  content: "";
  height: 3px;
  width: 60%;
  margin: 5px auto;
  background: #8d8d94;
}

.underline:hover::after {
  width: 100%;
  transition-duration: 0.7s;
}

.skills ul {
  padding: 0 25px;
  text-align: left;
}

.marker > li:before {
  content: "✦";
  padding-right: 5px;
}

.skills p {
  display: inline-block;
}

.skills span {
  display: block;
  text-align: right;
  height: 10px;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #8d8d94;
  position: relative;
}

.skills span::before {
  position: absolute;
  content: "";
  height: 80%;
  border-radius: 5px;
  background: linear-gradient(45deg, #8d8d94, #9999c9, #3c3c8d);
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.skills .HTML5::before {
  width: 80%;
}

.skills .CSS3::before {
  width: 60%;
}

.skills .JS::before {
  width: 30%;
}

.skills .GIT::before {
  width: 50%;
}

.skills .Bootstrap::before {
  width: 10%;
}
.skills .React::before {
  width: 10%;
}
.skills .Angular::before {
  width: 10%;
}

.section__right .underline {
  margin-top: 45px;
}

.code__JS {
  overflow: auto;
  color: #ffffff;
  font-size: 0.9rem;
}

li {
  list-style-type: none;
  margin: 5px;
  align-items: center;
}

h2,
h3 {
  margin: 10px 0;
  text-align: center;
}

h4 {
  padding-left: 10px;
  border-radius: 15px;
  background: linear-gradient(45deg, #8d8d94, #9999c9, #3c3c8d);
}

.experienc h3 {
  margin: 0;
  text-align: left;
}

.footer {
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  background: linear-gradient(45deg, #8d8d94, #9999c9, #3c3c8d);
  align-items: center;
}

.logo {
  width: 30%;
}

.img_logo {
  padding: 10px;
  height: 60px;
}

.data {
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  .main {
    width: 90%;
  }

  .my_name {
    width: 320px;
    position: absolute;
    top: 275px;
    left: 0;
    text-align: center;
    background: linear-gradient(45deg, #8d8d94, #9999c9);
    filter: none;
  }

  .nav__list {
    padding-top: 3px;
    display: block;
    text-align: right;
  }

  .nav__link {
    margin: 0;
    line-height: 5px;
    letter-spacing: 2px;
  }

  .section__left .contacts {
    margin-top: 230px;
  }

  .section__right .underline {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .header .my_img {
    position: absolute;
    top: 40px;
    left: calc((100%-220px) / 2 - 110px);
  }

  .my_name {
    width: 100%;
    min-width: 320px;
  }

  .burger {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav__list {
    padding: 5px 0 0 0;
    display: block;
    text-align: right;
  }

  .nav__link {
    margin: 0;
    line-height: 5px;
    letter-spacing: 2px;
  }

  .section__left {
    width: 100%;
  }

  .section__right {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .main {
    width: 95%;
  }

  .my_name {
    width: 100%;
    min-width: 280px;
    font-size: 0.85rem;
  }

  .header .my_name:hover {
    transform: scale(0.9);
  }
}
